@model WeatherNew.Models.ModelForView

<h1>Search</h1>

@using (@Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Term, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Term, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input class="btn btn-success btn-block" type="submit" value="Search" />
            </div>
        </div>

    </div>
}
@*@Html.Partial("~/Views/OpenWeatherMapMvc/Weather.cshtml")*@

<h1>Weather Description</h1>
<h2>Citi: @(Model.City.name)</h2>
<h2>Country: @(Model.City.country)</h2>

<div class="row">
    @*@for (int i = 0; i < 5; i++)
    {*@
    @for (int i = 0; i < 5; i++)
    {
        @*<input type="button" class="col-md-2 btn btn-primary" value="@Model.ModelDay.Date[i]" onclick="location.href'@Url.Action("GetWeather", "Home", new {date = Model.ModelDay.Date[i]})'"/>*@
             @Ajax.ActionLink($"{Model.ModelDay.Date[i]}", "GetWeather", new { date = Model.ModelDay.Date[i] }, new AjaxOptions { UpdateTargetId = "result" }, new {@class = "col-md-2 btn btn-primary" })

    }
    @* }*@
</div>

<table class="table table-striped table-hover table-bordered" id="result">


    <tr>

        <th class="col-md-2">
            Date: @DateTime.Parse(Model.ModelDay.ListWhetherInDay[0].dt_txt).ToString("yyyy-MM-dd")
        </th>
        @foreach (var item in Model.ModelDay.ListWhetherInDay)
        {
            <th class="col-md-1">
                @DateTime.Parse(item.dt_txt).ToString("HH:mm")
            </th>
        }
    </tr>
    <tr>
        <td class="col-md-2">
            Temperature:
        </td>
        @foreach (var item in Model.ModelDay.ListWhetherInDay)
        {
            <td class="col-md-1">
                @(item.main.temp.ToString() ?? string.Empty) °C
            </td>
        }
    </tr>
    <tr>
        <td class="col-md-2">Humidity:</td>

        @foreach (var item in Model.ModelDay.ListWhetherInDay)
        {
            <td class="col-md-1">@(item.main.humidity.ToString() ?? string.Empty)</td>
        }
    </tr>
    <tr>
        <td class="col-md-2">Wind:</td>
        @foreach (var item in Model.ModelDay.ListWhetherInDay)
        {
            <td class="col-md-1">@(item.wind.speed.ToString() ?? string.Empty)</td>
        }

    </tr>
    <tr>
        <td class="col-md-2">Weather:</td>
        @foreach (var item in Model.ModelDay.ListWhetherInDay)
        {
            <td class="col-md-1">@(item.weather[0].description ?? string.Empty)</td>
        }

    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
